[test]
AndHandlerTest.CanHandle = 1
AndHandlerTest.ProcessAndOneHashtag = 1
AndHandlerTest.ProcessAndTwoHashtags = 1
AndHandlerTest.ProcessAndManyHashtags = 1
AndHandlerTest.ProcessAndNoResults = 1
OrHandlerTest.CanHandle = 1
OrHandlerTest.ProcessOrOneHashtag = 1
OrHandlerTest.ProcessOrTwoHashtags = 1
OrHandlerTest.ProcessOrManyHashtags = 1
OrHandlerTest.ProcessOrNoResults = 1

TweetHandlerTest.CanHandle = 1
TweetHandlerTest.AddTweetThenSearch = 1
TweetHandlerTest.AddTweetInvalidUser = 1
TweetHandlerTest.CaseInsensitiveHashtagTest = 1

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0
