[test]
DateTimeConstructor.Default = 0.2
DateTimeConstructor.Alt = 0.2
IStream.ProperFormat = 0.2
IStream.ImproperFormat = 0.2
OStream.Default = 0.2
OStream.Normal = 1
DateTimeComparator.LessThanIsTrue = 1
DateTimeComparator.LessThanIsFalse = 1
DateTimeComparator.BothAreEqual = 1

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0
