[test]
AndTest.NoHashTags = 1
AndTest.MissingHashTags = 2
AndTest.TwoHashTags = 2
AndTest.OneHashTags = 2
AndTest.DoubleTags = 2
OrTest.NoHashTags = 1
OrTest.MissingHashTags = 2
OrTest.TwoHashTags = 2
OrTest.OneHashTags = 2
OrTest.DoubleTags = 2

SearchRuntime.And = 3
SearchRuntime.Or = 3
[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0
