[test]
TweetConstructor.Default = 0.25
TweetConstructor.NoText = 0.25
TweetConstructor.WithText = 0.25
TweetComparator.LessThanIsTrue = 1
TweetComparator.LessThanIsFalse = 1
TweetComparator.BothAreEqual = 1
OStream.EmptyTweet = 0.25
OStream.ShortTweet = 1
OStream.LongTweet = 1

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0
