[test]
Parse.Empty = 3
Parse.FileDoesNotExist = 3
Parse.Short = 2
Parse.Medium = 2
Parse.Long = 3
AddTweet.NoText = 3
AddTweet.AddShort = 3
AddTweet.AddMedium = 3
AddTweet.AddLong = 3

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  4
valgrind_flat            =  4
valgrind_per_test        =  0
