[test]
Constructor.NormalString = 0.5
Feed.NotFollowing = 0.5
Feed.FollowingButNoTweets = 0.5
Feed.Small = 0.5
Feed.Medium = 0.5
Feed.Large = 0.5
Follower.NewUser = 0.5
Follwer.UserAlreadyInSet = 0.5
Following.NewUser = 0.5
Following.UserAlreadyInSet = 0.5
Tweets.BlankTweet = 0.25
Tweets.NormalTweet = 0.5
Tweets.ListTweets = 0.25

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0
