.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
html,
body {
  overflow-x: hidden;
}

.content {
  flex: 1;
}

.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 1.3vw;
  border-bottom: 2px solid rgb(19, 19, 19);
  right: 0px;
  margin: 0px;
  padding: 0px;
  color: black;
  letter-spacing: 1pt;
}

.navbar a {
  color: black !important;
  font-weight: 400;
}
